body {
    width: 450px;
    background-color: #F1E8B4;
}

.categories
{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);
    font-size: 15px;
}

.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title
{
    font-size: 22px;
    font-weight: bold;
    color: rgb(138, 64, 16);
}

.buttons
{
    display: flex;
    gap: 25px;
}

.button
{
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
    border: 0px;
    background-color: rgb(162, 187, 191);
    background-color: #E6BA95;
}


.button:hover
{
    background-color: #ebd5c4;
}

.button:active
{
    background-color: #da955d;
}

.message
{
    font-weight: bold;
}
.footer
{
    text-align: center;
}

.links
{
    width: 50%;
    font-style: italic;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
}

.test
{
    font-size: 20px;
    color: white;
}

.donate
{
    border: 0px;
    padding: 0px;
    margin: 0px;
    width:110px;
    margin-top: 2px;
    height: 100%;
}

.donate-button
{
    display: flex;
    gap: 20px;
}

.images
{
    width: 110px;
    height: 30px;
    border-radius: 5px;
}

.btcpay-form
{
    display: inline-flex; align-items: center; justify-content: center; } .btcpay-form--inline { flex-direction: row; } .btcpay-form--block { flex-direction: column; } .btcpay-form--inline .submit { margin-left: 15px; } .btcpay-form--block select { margin-bottom: 10px; } .btcpay-form .btcpay-custom-container{ text-align: center; }.btcpay-custom { display: flex; align-items: center; justify-content: center; } .btcpay-form .plus-minus { cursor:pointer; font-size:25px; line-height: 25px; background: #DFE0E1; height: 30px; width: 45px; border:none; border-radius: 60px; margin: auto 5px; display: inline-flex; justify-content: center; } .btcpay-form select { -moz-appearance: none; -webkit-appearance: none; appearance: none; color: currentColor; background: transparent; border:1px solid transparent; display: block; padding: 1px; margin-left: auto; margin-right: auto; font-size: 11px; cursor: pointer; } .btcpay-form select:hover { border-color: #ccc; } .btcpay-form option { color: #000; background: rgba(0,0,0,.1); } .btcpay-input-price { -moz-appearance: textfield; border: none; box-shadow: none; text-align: center; font-size: 25px; margin: auto; border-radius: 5px; line-height: 35px; background: #fff; }.btcpay-input-price::-webkit-outer-spin-button, .btcpay-input-price::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;
}
